.comments {
  width: 100%;
  position: relative;

  &__girl {
    display: none;

    @media (min-width: $mobile-size-land) {
      display: block;
      width: 30vw;
      height: 35vw;
    }

    @media (min-width: $desktop-size-average) {
      width: 429px;
      height: 517px;
    }
  }

  &__csk {
    text-align: left;
    color: #333d64;
    font-size: 10px;
    margin-left: 15px;
    margin-top: 60px;
    padding-bottom: 4vw;

    @media (min-width: $mobile-size-land) {
      margin-left: 36vw;
      margin-top: -21vw;
    }

    @media (min-width: $tablet-size-port) {
      margin-left: 38.6vw;
      margin-top: -21.5vw;
      padding-bottom: 4vw;
      font-size: 16px;
    }

    @media (min-width: $desktop-size-small) {
      font-size: 24px;
      margin-left: 500px;
      margin-top: -300px;
      padding-bottom: 50px;
    }

    @media (min-width: $desktop-size-average) {
      font-size: 24px;
      margin-left: 500px;
      margin-top: -350px;
      padding-bottom: 50px;
    }
  }

  &__csk-c {
    width: 100%;

    @media (min-width: $mobile-size-land) {
      width: 52vw;
    }

    @media (min-width: $desktop-size-average) {
      width: 751px;
      ;
    }
  }

  &__csk-s {
    width: 100%;

    @media (min-width: $mobile-size-land) {
      width: 52vw;
    }

    @media (min-width: $desktop-size-average) {
      width: 703px;
    }
  }

  &__font:hover {
    opacity: 1;
    transition: .3s;
    border-radius: 5px 40px;
    font-size: 4.5vw;

    @media (min-width: $mobile-size-land) {
      font-size: 3vw;
    }

    @media (min-width: $desktop-size-average) {
      font-size: 60px;
      background-color: #0231ff;
    }
  }

  &__span {
    font-weight: 700;
  }

  &__font {
    font-family: AmaticSC-Regular;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #082fcf;
    text-align: center;
    border-radius: 40px 5px;
    height: fit-content;
    transition: .5s;
    font-size: 5vw;
    width: 34vw;

    @media (min-width: $mobile-size-land) {
      width: 28vw;
      font-size: 4vw;
    }

    @media (min-width: $desktop-size-average) {
      width: 397px;
      font-size: 64px;
    }
  }

  &__pozdr-link {
    position: absolute;
    text-decoration: none;
    top: -45px;
    right: 25px;
    width: 35vw;
    height: 7.5vw;

    @media (min-width: $mobile-size-land) {
      top: 30px;
      right: 25px;
      width: 28vw;
      height: 6.8vw;
    }

    @media (min-width: $desktop-size-average) {
      width: 397px;
      height: 97px;
      right: 15px;
    }
  }

  &__otziv-link {
    position: absolute;
    text-decoration: none;
    top: -45px;
    left: 25px;
    width: 35vw;
    height: 7.5vw;

    @media (min-width: $mobile-size-land) {
      width: 28vw;
      height: 6.8vw;
      top: 30px;
      right: 35%;
      left: 33%;
    }

    @media (min-width: $desktop-size-average) {
      width: 397px;
      height: 97px;
      right: 440px;
    }
  }
}