.gallery {
  position: fixed;
  visibility: hidden;

  &__content {
    position: relative;
    width: 65%;
    height: 70%;
    background-color: rgb(255, 255, 255);
    margin: 7% auto;
    border-radius: 15px;
  }

  &__button-container {
    cursor: pointer;
  }

  &__button {
    position: absolute;
    right: 25px;
    top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: .25s;
  }

  &__button:hover {
    background-color: rgba(0, 0, 0, 0.582);
  }

  &__button::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 24px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transform: rotate(-45deg);
    border-radius: 50px;
    width: 20px;
  }

  &__button::before {
    content: '';
    position: absolute;
    right: 15px;
    top: 24px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg);
    border-radius: 50px;
    width: 20px;
  }

  &__button-left {
    cursor: pointer;
  }

  &__swipe-left {
    position: absolute;
    left: 15px;
    top: 30%;
    width: 70px;
    height: 170px;
    border-radius: 10px;
    transition: .25s;
  }

  &__swipe-left:hover {
    background-color: rgba(0, 0, 0, 0.582);
  }

  &__swipe-left::after {
    content: '';
    position: absolute;
    left: 15px;
    top: 42.5%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    transform: rotate(-45deg);
    border-radius: 50px;
    width: 35px;
  }

  &__swipe-left::before {
    content: '';
    position: absolute;
    left: 15px;
    bottom: 42%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg);
    border-radius: 50px;
    width: 35px;
  }

  &__button-right {
    cursor: pointer;
  }

  &__swipe-right {
    position: absolute;
    right: 15px;
    top: 30%;
    width: 70px;
    height: 170px;
    border-radius: 10px;
    transition: .25s;
 
  }

  &__swipe-right:hover {
    background-color: rgba(0, 0, 0, 0.582);
  }

  &__swipe-right::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 42.5%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg);
    border-radius: 50px;
    width: 35px;
  }

  &__swipe-right::before {
    content: '';
    position: absolute;
    right: 15px;
    bottom: 42%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    transform: rotate(-45deg);
    border-radius: 50px;
    width: 35px;
  }

  &__img-prew {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: none;
    background-color: #333;
  }

  &__images-container {
    display: flex;
    // justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 15px;
  }
 
}

.gallery.viev {
  visibility: visible;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
