.hero {
  width: 100%;
  min-height: max-content;
  padding: 0px 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1260px;
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 30px;

  @media (min-width: $tablet-size-land) {
    border-radius: 90px;
    padding: 15px 15px;
  }

  &__prew {
    position: relative;
  }

  &__prew-text {
    width: 100%;

    @media (min-width: $mobile-size-land) {
      width: 80%;
    }
  }

  &__prew-mt-title {
    color: #0E2EB6;
    padding-bottom: 2vw;
    text-transform: uppercase;
    font-size: 11px;
    padding-top: 15px;

    @media (min-width: $mobile-size-land) {
      font-size: 2.3vw;
      padding-top: 15px;
    }

    @media (min-width: $tablet-size-land) {
      font-size: 26px;
      padding-top: 40px;
    }

    @media (min-width: $desktop-size-small) {
      font-size: 30px;
      padding-top: 40px;
    }

  }

  &__prew-mt-title div {
    display: inline-block;
  }

  &__prew-mt-text {
    color: #000000;
    font-size: 10px;
    width: 100%;

    @media (min-width: $mobile-size-land) {
      font-size: 2vw;
      width: 68vw;
    }

    @media (min-width: $tablet-size-land) {
      font-size: 20px;
      width: 700px;
    }

    @media (min-width: $desktop-size-small) {
      font-size: 24px;
      width: 830px;
    }
  }

  &__prew-mt-text div {
    display: inline-block;
  }

  &__prew-mt-man-container {
    display: none;

    @media (min-width: $mobile-size-land) {
      display: block;
      position: absolute;
      padding: 0;
      right: -25px;
      top: 0px;
      width: 27vw;
      height: 38vw;
    }

    @media (min-width: $tablet-size-land) {
      top: -25px;
    }

    @media (min-width: $desktop-size-small) {
      width: 378px;
      height: 479px;
    }
  }

  &__prew-images {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 0;
    padding-bottom: 25px;

    @media (min-width: $mobile-size-land) {
      padding-top: 4vw;
    }

  }

  &__prew-img-container {
    display: inline-block;
    overflow: hidden;
    transition: .3s;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.87);
    border-radius: 25px;
    width: 27.5vw;
    height: 18vw; 
    cursor: pointer; 

    @media (min-width: $mobile-size-land) {
      width: 29.5vw;
      height: 19vw;
    }

    @media (min-width: $tablet-size-land) {
      border-radius: 50px;
      width: 330px;
      height: 209px;
    }

    @media (min-width: $desktop-size-small) {
      border-radius: 50px;
      width: 370px;
      height: 241px;
    }

  }

  &__prew-img-container &__prew-img {
    transition: 1s;
    display: block;
  }

  &__prew-img-container &__prew-img:hover {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    transition: .6s;
  }

  &__prew-img-container:hover {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    transition: .3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.87);   
  } 

  &__prew-img {
    border-radius: 25px;
    width: 27.5vw;
    height: 18.1vw;  

    @media (min-width: $mobile-size-land) {
      width: 29.5vw;
      height: 19vw;
    }

    @media (min-width: $tablet-size-land) {
      border-radius: 50px;
      width: 330px;
      height: 210px; 
    }

    @media (min-width: $desktop-size-small) {
      border-radius: 50px;
      width: 370px;
      height: 242px;
    }
  }
}

