.kob {
  width: 100%;
  background-color: #f9f9f9;

  &__container {
    display: flex;
    justify-content: space-evenly;
    max-width: 1260px;
    flex-wrap: wrap;
  }

  &__otz {
    position: relative;
    width: 32vw;
    height: 30vw;
    cursor: pointer;
    color: #333d64;

    @media (min-width: $tablet-size-land) {
      width: 370px;
      height: 370px;
    }

  }

  &__people {
    width: 30vw;
    height: 30vw;
    margin-left: -1px;
    border-radius: 0 45px;

    @media (min-width: $tablet-size-land) {
      width: 370px;
      height: 370px;
    }
  }

  &__otz-blank {
    position: absolute;
    background-image: url("../img/background-massage.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 23.5vw;
    height: 14vw;
    bottom: -3vw;
    right: -7px;
  

    @media (min-width: $tablet-size-land) {
      width: 282px;
      height: 137px;
      bottom: 0;
      right: -27px;
    }

  }

  &__otz-name {
    position: absolute;
    width: 15vw;
    font-size: 2.5vw;
    font-weight: 600;
    left: 4vw;
    top: 1vw;
    
    
    

    @media (min-width: $tablet-size-port) {
      width: 10vw;
      font-size: 1.5vw;
      left: 6vw;
      top: .7vw;
    }

    @media (min-width: $tablet-size-land) {
      width: 200px;
      font-size: 18px;
      left: 60px;
      top: 10px;
    }
  }

  &__otz-name-hidden {
    display: block;
    font-size: 2.5vw;
    width: 15vw;
    margin-top: 4.7vw;
    margin-left: 7vw;

    @media (min-width: $tablet-size-port) {
      display: none;;
    }
  }

  &__otz-s {
    display: none; 

    @media (min-width: $tablet-size-port) {
      position: absolute; 
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      width: 22.6vw;
      font-size: 11px;
      left: 10px;
      width: 22vw;
      bottom: 4.5vw;
    }

    @media (min-width: $tablet-size-land) {
      font-size: 14px;
      bottom: 25px;
      width: 267px;
    }
  }

  &__otz-container {
    padding: 5vw 1vw 1vw 0;

    @media (min-width: $tablet-size-land) {
      padding: 60px 30px 20px 0;
    }
  }

  &__people-container &__people:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      transition: .3s;
  } 

  &__people-container {
    display: inline-block;
    overflow: hidden;
    border-radius: 0 45px;
    box-shadow: -5px -5px 5px #919191;
    width: 29.5vw;
    height: 29.5vw;
    
    @media (min-width: $tablet-size-land) {
      width: 365px;
      height: 365px;
    }
  }

  &__people-container &__people {
    transition: 1s;
    display: block;
  }

}