.navigation {
  height: 67px;

  @media (min-width: $mobile-size-land) {
    height: 100px;
  }

  @media (min-width: $tablet-size-land) {
    height: 200px;
  }

  &__container {
    padding: 0 35px 0 0;
  }

  &__items {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;

    @media (min-width: $tablet-size-land) {
      padding-top: 80px;
    }
  }

  &__links {
    text-decoration: none;
    color: #082fcf;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    width: 105px;
    padding-top: 16px;
    margin-right: -35px;
    padding-bottom: 12px;
    transition: .2s;

    @media (min-width: $mobile-size-land) {
      font-size: 16px;
      width: 170px;
      padding-top: 20px;
      padding-bottom: 16px;
    }

    @media (min-width: $tablet-size-land) {
      font-size: 26px;
      width: 250px;
      padding-top: 30px;
      padding-bottom: 26px;
    }
  }

  &__links:hover {
    box-shadow:
      .5px .5px #082fcf,
      1px 1px #082fcf,
      1.5px 1.5px #082fcf,
      2px 2px #082fcf,
      2.5px 2.5px #082fcf,
      3px 3px #082fcf,
      3.5px 3.5px #082fcf,
      -2.5px -2.5px #082fcf,
      -1px -1px #082fcf,
      -1.5px -1.5px #082fcf,
      -2px -2px #082fcf,
      -2.5px -2.5px #082fcf,
      -3px -3px #082fcf,
      -3.5px -3.5px #082fcf;
    -webkit-transform: translate(15px, 7px);
    transform: translate(15px, 7px);
    background-color: #FFFFFF;

    @media (min-width: $tablet-size-land) {
      box-shadow:
        1px 1px #082fcf,
        2px 2px #082fcf,
        3px 3px #082fcf,
        4px 4px #082fcf,
        5px 5px #082fcf,
        6px 6px #082fcf,
        7px 7px #082fcf,
        -5px -5px #082fcf,
        -2px -2px #082fcf,
        -3px -3px #082fcf,
        -4px -4px #082fcf,
        -5px -5px #082fcf,
        -6px -6px #082fcf,
        -7px -7px #082fcf;
    }
  }
}