.active {
  background-color: #FFFFFF;
}

.js-content {
  display: none;
  animation: swipe 1200ms ease;
  transition: all 160ms ease;
}

.js-content.active {
  display: block;
}

@keyframes swipe {
  0% {
    opacity: 0; 
  }


  100% {
    opacity: 1;
  }
}