$primary-color: #0069C9;
$secondary-color: #003974;

$color3: #1331A9;

$color-white: #ffffff;
$color-black: #121212;

$shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

$menu-color: #003770;
$hover-color: rgba(24, 64, 227, 0.5);;


$mobile-size-land: 576px;
$tablet-size-port: 768px;
$tablet-size-land: 1080px;
$desktop-size-small: 1200px;
$desktop-size-average: 1440px;
$desktop-size-average-1: 1650px;
$desktop-size-large: 1920px;
